*, *:after, *:before {
  box-sizing: border-box;
}

h2, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

h2, h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

p, li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 22px;
}

ul, li {
  text-decoration: none;
  list-style: disc outside;
}

ul {
  padding-left: 20px;
}

/* body {
  background-color: #dadce2;
  background-image: linear-gradient(140deg, white, #dadce2);
  margin: 0;
  width: 100vw;
  min-height: 450px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.cardContainer {
  display: flex;
  position: relative;
  width: 32vw;
  height: 400px;
  min-width: 300px;
  min-height: 300px;
  margin: 4px;
  perspective: 1000px;
}

.active1 {
  transform: translateZ(0px) rotateY(180deg) !important;
}
.active1:after {
  display: none;
}

.card {
  display: inline-block;
  width:100%;
  height:100%;
  min-height: 300px;
  min-width: 300px;
  cursor: pointer;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card h5{
  font-size: 1rem;
  font-weight: bolder;
}

.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.side_border{
  border-left: 2px solid #8c47cc;
  height:100%;
}
/* #nopadding{
  padding-left: 0;
} */
.card:hover {
  transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
.card .front {
  z-index: 2;
}
.card .back {
  transform: rotateY(180deg);
}
.card .info {
  padding: 16px;
  
}
.backside h2 {
font-family: 'Ubuntu', sans-serif !important;
  font-weight: 600;
}
.backside li{
font-family: 'Ubuntu', sans-serif;
}
.card .info h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}
.card .info p {
  font-family: 'Ubuntu', sans-serif;
}
ul{
  padding-left: 30px;
}
.front .img {
  /* background-color: #dadce2; */
  /* background-position: center; */
  /* background-size: cover; */
  border-radius: 5px 5px 0 0;
  width: 100%;
  /* height: 13rem; */
  text-align: center;
  height: 60%;
}
.front .img1 {
  height: 100%;
  width: 80%;
  /* background-image: url(https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/11775/2019/3/7/College%20entrance%20of%20Government%20Polytechnic%20Mumbai_Campus-view.jpg); */
}

.back {
  position: relative;
}
.back h2 {
  margin-top: 6px;
  margin-bottom: 18px;
}
.back .reviews {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.back .reviews p {
  color: #c4c4c4;
  font-weight: 300;
  margin: 1px 0 0 6px;
  transition: 0.3s ease-in-out;
}
.back .reviews:hover p {
  color: #555;
}
.back li {
  line-height: 22px;
  margin: 2px 0 6px 0;
}
.back .btn {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: calc(100% - 32px);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c33764;
  background-image: linear-gradient(90deg,rgb(89, 10, 89),violet);
  border-radius: 5px;
  cursor: pointer;
}
.back:hover h4 {
  transform: translateX(0px);
}
.back a{
  color: white;
  text-decoration: none;
}
.back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}

@media screen and (max-width:1400px) {
  .card{
    min-height: 50vh;
  }
  .cardContainer {
      width: 100% !important;
      /* background: #000; */
      height: 100%;
    }
    .row .col-6{
      width: 100%;
    }
    .card{
      height: 100%;
    }
    .back .btn{
      position: absolute;
      bottom: 1rem;
      margin-bottom: 5px;
     
    }
    .back{
      height: auto;
    }
    .card{
      /* min-height: 35rem; */
    }
    .side_border{
      border: none;
    }
    .front .img{
      height: 50%;
    }

 #backside {
  /* height: 425px; */
  border: #333333;
  /* margin-bottom: auto; */
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.25);
 }
    #frontSide{
      /* height: auto; */
    }
    .col-md-6{
      height: auto;
      margin-bottom: 3rem;
      
      
    }
  
    .img .img1{
      /* display: contents; */

      width: 100%;
      height: 100%;
  }
  
  .card h5{
    font-size: 1.25rem;
  }
}
.cartButton{
  background-color:#FFB714;
  border:none;
  padding: 5px;
  width: 4rem;
  border-radius: 0.5rem;
}

