.section1 {
    background-color: black;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    position: sticky;
    /* margin-top: 60rem; */
}

.up {
    clear: both;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    top: -2rem;
}

.upward {
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border: 6px solid orange;
    background: url('https://sbi.co.in/o/Career-Theme/images/custom/scroll-up-icon.png') no-repeat center;
    cursor: pointer;
}

.main1 {
    display: flex;
    width: 100%;
}

.first {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fh4 {
    font-size: 1.2rem;
    color: coral;
    font-weight: 700;
}

.fp {
    margin-top: 1rem;
    color: aliceblue;
    font-size: 1rem;
    text-align: left;
    line-height: 25px;
}

.second {
    flex: 1;
    text-align: center;
}

.sh4 {
    color: coral;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.third {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cp {
    color: white;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 992px){
    
    .main{
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .first{
        margin-bottom: 2rem;
        align-items: baseline;
    }
    .fp{
        text-align: justify;
    }
    .second{
        margin-bottom: 2rem;
        text-align: start;
    }
    .cp{
        font-size: 0.8rem;
        /* text-align: start; */
    }
    .third{
        align-items: baseline;
    }
}
@media screen and (max-width:576px){
    .fh4,.sh4{
        padding-left: 2rem;
    }
    .fp{
        padding: 2rem;
    }
    
}