.main-bg {
    background: linear-gradient(rgb(89, 10, 89) 80%,rgb(249, 59, 249));
    height: 89.2vh;
    width: 100%;
  }
  .lefth1{
    flex: 1;
    line-height: 30px;
  }
  .right1{
    flex: 1;
  }
  .sl{
    height: 97%;
    width: 90%;
  }
  .bg{
    display: flex;
    background-color: white;
    border-radius: 10%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 78vh;
  }
  .h{
    background: linear-gradient(90deg,rgb(89, 10, 89) ,rgb(249, 59, 249));
    background-size:100% ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 10rem;
    margin-left: 6rem;
    font-size: 60px;
    font-style: bold;
  }
  .h2{
    background: linear-gradient(90deg,rgb(89, 10, 89) ,rgb(249, 59, 249));
    background-size:100% ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 6rem;
    margin-top: -1rem;
    font-size: 20px;
    font-style: bold;
    padding-top: 10px;
  }
  .h3{
    background: linear-gradient(90deg,rgb(89, 10, 89) ,rgb(249, 59, 249));
    background-size:100% ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 6rem;
    font-size: 30px;
    margin-top: 2%;
    font-style: bold;
  }
  .btnh{
    display: flex;
    margin-left: 6rem;
  }
  .sbtn1{
    height: 3rem;
    width:8.5rem;
    border-radius: 60px;
    border: none;
    background:  linear-gradient(90deg,rgb(89, 10, 89),violet);
    color: white;
    font-size: large;
    
  }
  .sbtn1:hover{
     background: black;
  }
  .sbtn2{
    height: 3rem;
    width: 8.5rem;
    margin-left: 1%;
    border-radius: 60px;
    border: none;
    background: black;
    color: white;
    font-size: large;
  }    
  .sbtn2:hover{
    background: linear-gradient(90deg,rgb(89, 10, 89),violet);
  }
  .hh1{
    background: linear-gradient(90deg,rgb(89, 10, 89) ,rgb(249, 59, 249));
    background-size:100% ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 8rem;
    margin-left: 6rem;
    font-size: 40px;
  }
  .p{
    margin-left: 6rem;
    margin-top: 3rem;
    color: rgb(194, 53, 194);
  }
  .sl1{
    height: 92%;
    width: 98%;
  }
  .hhh1{
    background: linear-gradient(90deg,rgb(89, 10, 89) ,rgb(249, 59, 249));
    background-size:100% ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 8rem;
    margin-left: 6rem;
    font-size: 40px;
  }
  .p1{
    margin-left: 6rem;
    margin-top: 3rem;
    color: rgb(194, 53, 194);
  }


  .carousel-control-next-icon {
    display: none;
  }
  .carousel-control-next{
    display: none;
  }
  .carousel-control-prev{
    display: none;
  }

  @media screen and (max-width:750px){
    .bg{
        flex-direction: column-reverse;
        
    }
    .lefth1
    {
        display: flex;
        flex: 1;
        margin-bottom: 1rem;
        align-items: center;
        flex-direction: column;

    }
    .h{
        margin-top: 0;
        margin-left: 3%;
        font-size: 1.3rem;
        line-height: 1rem;
    }
    .h2{
        margin-top: 0;
        margin-left: 3%;
        font-size: 1.0625rem;
    }.h3{
        margin-top: 1rem;
        margin-left: 3%;
        font-size: 0.8rem;
    }
    .btnh{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .sbtn1{
        margin-left: 0;
        font-size: medium; 
    }
    .sbtn2{
        font-size: medium;
    }
    .hh1{
        margin-top: -4rem;
        margin-left: 3%;
        font-size: 1rem;
    }
    .p{
        margin-top: 0;
        margin-left: 3%;
        font-size: 0.8rem;
    }
    .hhh1{
        margin-top: 0;
        margin-left: 3%;
        font-size: 1rem;
    }
    .p1{
        margin-top: 0;
        margin-left: 3%;
        font-size: 0.8rem;
    }
    .sl{
        height: 80%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .right1{
        display: flex;
        align-items: center;
    }
  }
  
  
  
    
